/* "Quicksand" and "Raleway" font imported from fonts.google.com */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* Global Styles - Reset and Base Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Quicksand", serif;
}

img {
  display: flex;
}

ol,
ul,
li {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

/* Shared styles start from here */
.container {
  max-width: 1160px;
  margin: 0 auto;
  width: 80%;
}

:root {
  --black: #111;
  --orange: #fea301;
  --sky-blue: #01acfd;
  --white: #fff;
}

.btn-primary {
  padding: 16px 36px;
  border-radius: 12px;
  background: var(--orange);
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 150%;
  text-transform: capitalize;
  cursor: pointer;
  border: none;
  transition: all linear 0.3s;

  &:hover {
    scale: 1.1;
    background: var(--white);
    color: var(--black);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

  }
}

/* Shared styles end here */

header .marque{
  padding: 10px 0;
  background: rgb(95, 62, 67);
}
header .marque marquee{
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 700;
}
/* Header section styles start from here */
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background: #fff;
}

nav .logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: var(--black);
  font-weight: 700;
  text-transform: uppercase;
  gap: 10px;
}

nav .nav-links {
  display: flex;
  gap: 32px;
}

nav .nav-links li a {
  display: block;
  color: var(--orange);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 15%;
  text-transform: capitalize;
}

nav .nav-links li:nth-child(2) a {
  color: var(--sky-blue);
}

nav .nav-links li:nth-child(3) a {
  color: #05d4df;
}

nav .nav-links li:nth-child(4) a {
  color: #5d58ef;
}

nav .hamburger-menu {
  display: none;
}

/* Header section styles end here */

/* Banner section styles start from here */
#banner .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-con .banner-title {
  color: var(--black);
  font-size: 56px;
  font-weight: 700;
  line-height: 100%;
}
.banner-con .banner-title span:first-child {
  color: var(--orange);
}
.banner-con .banner-title span:last-child {
  color: var(--sky-blue);
}
.banner-con p {
  margin: 24px 0;
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--black);
}
.banner-con .btn-primary {
  color: var(--white);
  background: var(--black);

}
/* Banner section styles end here */

/* Standard Curriculum section styles start from here */
#curriculum {
  background: url(https://i.ibb.co.com/qJn18vk/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 60px 0;
  text-align: center;
}
#curriculum .container .section-title {
  color: var(--black);
  font-size: 2.875rem;
  font-weight: 700;
  line-height: 125%;
}
.curriculum-card-container {
  display: flex;
  gap: 28px;
  margin: 80px 0;
}
.curriculum-card-container .curriculum-card {
  padding: 50px 40px;
  border-radius: 18.864px;
  border: 0.9px solid #def5ff;
  background: linear-gradient(180deg, #def5ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
  box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
  flex: 1;
  transition: all linear 0.3s;
  &:hover{
    scale: 1.1;
  }
}
.curriculum-card-container .curriculum-card figure img {
  margin: 0 auto;
}
.curriculum-card .curriculum-card-con .card-title {
  color: #202020;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 125%;
  margin-top: 32px;
}
.curriculum-card .curriculum-card-con p {
  font-family: "Raleway", serif;
  color: #808080;
  font-size: 1rem;
  font-weight: 500;
  line-height: 180%;
  margin: 32px 0;
}
.curriculum-card .curriculum-card-con a {
  color: #64c8ff;
  font-size: 1rem;
  font-weight: 700;
  line-height: 180%;
  text-transform: capitalize;
}
.curriculum-card:nth-child(2) {
  background: linear-gradient(180deg, #fff4dc 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
}
.curriculum-card:nth-child(2) a {
  color: #f0aa00;
}

.curriculum-card:nth-child(3) {
  background: linear-gradient(180deg, #eee1ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
}
.curriculum-card:nth-child(3) a {
  color: #8700ff;
}
#curriculum .container .scroll-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-inline: auto;
}
#curriculum .container .scroll-buttons div {
  width: 60px;
  height: 60px;
  background: var(--orange);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all linear 0.3s;
  &:hover{
    background: var(--sky-blue);
  }
}
#curriculum .container .scroll-buttons div a i {
  display: block;
  font-size: 24px;
  color: var(--white);
}
/* Standard Curriculum section styles end here */

/* Our stories part styles start from here */
#stories {
  text-align: center;
  background: linear-gradient(
      0deg,
      rgba(254, 163, 1, 0.3) 0%,
      rgba(255, 255, 255, 0.3) 100%
    ),
    url(https://i.ibb.co.com/qJn18vk/bg.png);
  padding: 60px 0;
}
#stories .container .section-title {
  color: var(--black);
  font-size: 2.875rem;
  font-weight: 700;
  line-height: 125%;
}
#stories img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 16px 16px 0 0;
 
}
.item-container {
  text-align: start;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 20px;
  margin: 60px 0;
}
.item-1 {
  border-radius: 16px;
  background: var(--white);
  grid-column: 1 / span 6;
  grid-row: 1 / span 12;
  position: relative;
  display: block;
}
.item-1 > .item-1-con .time {
  padding: 14px 20px;
  border-radius: 40px;
  background: #3cd8e8;
  display: inline-block;
  position: absolute;
  bottom: 260px;
}
.item-1 > .item-1-con > .time > time {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 180%;
  text-transform: capitalize;
}
.item-1 .item-1-con {
  padding: 30px 50px;
}
.item-1-con .card-title {
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 160%;
  margin-bottom: 40px;
}
.item-1-con p {
  color: #666;
  font-size: 1rem;
  font-weight: 500;
  line-height: 180%;
}
.item {
  grid-column: 7 / span 3;
  grid-row: 1 / span 6;
  background: var(--white);
  border-radius: 16px;
  position: relative;
}
.item p {
  position: absolute;
  padding: 10px 20px;
  background: #95b226;
  border-radius: 40px;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 180%;
  text-transform: capitalize;
  bottom: 120px;
}
.item .item-con {
  padding: 40px 30px;
}
.item .item-con h4 {
  color: #000;
  font-size: 1rem;
  font-weight: 700;
  line-height: 180%;
}
.item-container .item:nth-child(3) {
  grid-column: 10 / span 3;
  grid-row: 1 / span 6;
}
.item-container .item:nth-child(4) {
  grid-column: 7 / span 3;
  grid-row: 7 / span 6;
}
.item-container .item:nth-child(5) {
  grid-column: 10 / span 3;
  grid-row: 7 / span 6;
}

#stories button {
  color: var(--white);
  background: var(--black);
}
/* Our stories part styles end here */

/* Footer part styles start from here */
footer {
  background: #01acfd;
  color: #fff;
  padding: 120px 0;
}
footer a {
  color: #fff;
}
footer .container {
  display: flex;
  justify-content: space-between;
}
footer .footer-logo {
  display: flex;
  gap: 10px;
  margin-bottom: 34px;
}
footer .footer-logo span {
  font-size: 42px;
  font-weight: 700;
  line-height: 39px;
}
footer .footer-left p {
  font-size: 20px;
  font-weight: 400;
  width: 400px;
}

footer h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}
footer .footer-links li {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}
.footer-links li:last-child {
  margin-bottom: 0;
}

.footer-right .social-links {
  display: flex;
  gap: 12px;
}
/* Footer part styles end here */
